<form method="post" action="{{ path('techniques_crud_delete', {'id': technique.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ technique.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
