<h1>Confirmez votre e-mail</h1>

<p>
    Cliquez sur le lien pour validez votre inscription: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon e-mail</a>.
    Ce lien expire dans une heure {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
