{% extends 'baseAdmin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="content-wrapper">
<div class="container-fluid">
    <h1>Créer nouveau User</h1>

    {{ include('user_crud/_form.html.twig') }}

    <a href="{{ path('user_crud_index') }}">Retour à la liste</a>
    </div>
    </div>
{% endblock %}
