{% extends 'baseAdmin.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
<div class="content-wrapper">
<div class="container-fluid">
    <h1>Créer nouveau Contact</h1>

    {{ include('contact_crud/_form.html.twig') }}

    <a href="{{ path('contact_crud_index') }}">retour a la liste</a>
    </div>
    </div>
{% endblock %}
