

 {% block body %}
    


<div class="row">

        <div class="col-12">
            <div id="carouselPhoto" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-inner">
                
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            <img src="{{asset('front/MEDIAS/photos/POR02.jpg')}}" alt="" class="img-thumbnail w-25">
                      
                        </div>
                    </div>
                    {% for photo in photos %}
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center photo-btn">
                            <img id="{{ photo.id }}" src="{{asset('front/MEDIAS/photos/')}}{{ photo.urlPhotos}}" alt="" class="img-thumbnail w-25 presentation">
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhoto" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Précedent</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPhoto" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Suivant</span>
                </button>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

{% endblock %}